.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 0.2s;
    z-index: 8;
}

.menu.active {
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(20px);
    position: absolute;
}

.menuContent {
    width: 30%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.menuHeader {
    padding: 10px;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

.menuList {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.menuList li{
    display: flex;
    align-items: center;
    margin: 10px;
}

.menuList li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
}